@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #f9fafb;
	color: #111827;
}

html.dark {
	color-scheme: dark;
	background-color: #0f172a;
}

html.dark body {
	background-color: #0f172a;
	color: #f1f5f9;
}

button:disabled {
	@apply opacity-50 cursor-not-allowed;
}

input:focus,
textarea:focus,
select:focus {
	@apply outline-none;
}
